@media (max-width: 1199.5px) {
  /* CUSTOM CSS */
  h1 {
      font-size: 3.75rem;
  }
  h2 {
      font-size: 2.1875rem;
  }
  h3 {
      font-size: 1.1875rem;
      line-height: 1.6875;
  }
  h5 {
      font-size: 1.0625rem;
      line-height: 0.1rem;
  }
  p{
    padding-bottom: 3rem;
  }
  .banner_wrapper .home-right img{
    
  }
}

@media (max-width: 991px) {
  /* NAVBAR */
  .header-scrolled{
      height: auto;

  }
  .header_wrapper .navbar-collapse {
      margin-top: -0.125rem;
  }   
  .header_wrapper .navbar-nav {
      text-align: center;
      background-color: #fff;
      padding-bottom: 0.9375rem;
  }
  .header_wrapper .nav-item .nav-link {
      margin-top: 0.9375rem;;
  }
  
}

@media (max-width: 767px) {
  /* CUSTOM CSS */
  h1{
      font-size: 2.5rem;
      line-height: 3rem;
  }
  h2 {
      font-size: 1.875rem;
      line-height: 2.375rem;
  }
  h3 {
      font-size: 1.5625rem;
      line-height: 2.1875;
  }  
  h5{
    font-size: 1.0625rem;
    line-height: 10px;
  } 
}


/* Begin Media Queries*/
@media screen and (max-width: 850px) { 
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

/* PROJECT */
@media screen and (max-width: 1199px){
  #projects h5{
    line-height: 5rem;
    font-size: 1.5rem;
    margin: 7px;
  }
}

/* Footer */
@media screen and (max-width: 500px) {
  .social-icon i {
    /* float: none; */
    /* display: block; */
    width: 100%;
    text-align: center;
    text-align: center;
  }
}